@import "./utils.scss";

// Empty states and 404 messages
.wrapper-message {
  @include position(absolute, 45%, 0, auto, 0);
  transform: translate3d(0, -50%, 0);
  text-align: center;

  [class^="icon-"],
  [class*=" icon-"] {
    @include font-l2;
    color: $color-primary;
    display: block;
  }

  .title-message {
    @include font-s3;
    @include type-bold;
    color: $color-well;
  }

  .subtitle-message {
    @include font-s2;
    color: $color-medium-well;
  }
}
